# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
run

# Visual Studio
*/Debug
*.ilk
2DGame.exp
2DGame.lib
2DGame.pdb
2DGame.VC.db
2DGame.VC.VC.opendb
.vs
